.adf-submit-btn{
    background: #008060;
    border: 0.1rem solid #000000;
}
.adf-submit-btn:hover{
    background: #006e52;
}
.adf-con-delete-btn{
  background: #d82c0d;
  border: 0.1rem solid #d82c0d;
}
.adf-con-delete-btn:hover{
  background: #91200c;
}

#adf-label {
 font-weight: bold;
}


/* The switch - the box around the slider */
.adf-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .adf-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .adf-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .adf-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .adf-slider {
    background-color: #006e52;
  }
  
  input:focus + .adf-slider {
    box-shadow: 0 0 1px #006e52;
  }
  
  input:checked + .adf-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .adf-slider.round {
    border-radius: 34px;
  }
  
  .adf-slider.round:before {
    border-radius: 50%;
  }

  .adf-error-text{
    color:#ff0000 !important;
  }

  .adf-spinner{
    position: relative!important;
    display: inline-block!important;
    padding: 0.7rem 1.6rem!important;
    background: white!important;
    border: white!important;
    box-shadow: none!important;
    cursor: default!important;
  }
  
  .rule-submit--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #008060;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }

/* The Modal (background) */
.modal {
  display:none;/* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  text-align: left;
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 190px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #5c5f62;
  float: right;
  font-size: 36px;
  padding-top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: black;
  padding: 12px 16px;
  margin-top: 9px;
  text-align: left;
  border-bottom: 1px solid #d0d8df;
}

.modal-body {
  padding: 16px 16px;
  border-bottom: 1px solid #d0d8df;
  margin: 0px !important;
}

.modal-footer {
  text-align: right;
  margin: 10px 16px;
  background-color: white;
  color: black;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
/* input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
} */
#adf-status-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.adf-status-snackbar-show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
